@media screen {
    #pop-up-screen {
        display: none;
        position: relative;
        background-color: grey;
        height: 200px;
        width: 60%;
        left: 20%;
        bottom: 25em;
        text-align: center;

        #pop-up-content {
            display: inline-block;
            position: relative;
            background-color: white;
            margin-top: 10px;
            height: 91%;
            width: 97%;
            border-radius: 5px;

            #pop-up-title {
                margin-top: 50px;
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(139, 138, 138);
                font-size: 20px;
                font-weight: 500;
            }

            #pop-up-job-description:invalid {
                color: rgb(139, 138, 138);
                width: 50%;
                height: 40px;
                box-sizing: border-box;
                border: solid 1px rgb(226, 226, 226);
                border-radius: 5px;
            }

            #pop-up-job-description {
                color: rgb(139, 138, 138);
                width: 50%;
                height: 40px;
                box-sizing: border-box;
                border: solid 1px rgb(226, 226, 226);
                border-radius: 5px;
            }
        }

        #update-btn {
            position: relative;
            color: gray;
            bottom: 40px;
        }
    }
}

@media screen and (min-width: 640px) {

    #pop-up-screen {
        display: none;
        position: relative;
        background-color: grey;
        height: 250px;
        width: 40%;
        left: 58%;
        bottom: 25em;
        text-align: center;

        #pop-up-content {
            display: inline-block;
            position: relative;
            background-color: white;
            margin-top: 10px;
            height: 91%;
            width: 97%;
            border-radius: 5px;

            #pop-up-title {
                margin-top: 50px;
                font-family: Arial, Helvetica, sans-serif;
                color: rgb(139, 138, 138);
                font-size: 20px;
                font-weight: 500;
            }

            #pop-up-job-description:invalid {
                color: rgb(139, 138, 138);
                width: 50%;
                height: 40px;
                box-sizing: border-box;
                border: solid 1px rgb(226, 226, 226);
                border-radius: 5px;
            }

            #pop-up-job-description {
                color: rgb(139, 138, 138);
                width: 50%;
                height: 40px;
                box-sizing: border-box;
                border: solid 1px rgb(226, 226, 226);
                border-radius: 5px;
            }
        }

        #update-btn {
            position: relative;
            color: gray;
            bottom: 60px;
        }
    }
}
