.to-do-section {
    margin: 40px;

    .record-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        border-bottom: solid 3px black;

        .header {
            height: 50px;
            border-radius: 5px;
            margin-bottom: 0px;
            padding-bottom: 0;
            width: 7em;
        }
    }
    .record-container {
        display: flex;
        flex-flow: column wrap;
        margin-top: 10px;

        .li-wrapper {
            display: flex;
            flex-flow: row wrap;
            background-color: red;
            max-height: 70px;
        }
        .li-style {
            display: flex;
            flex-grow: 1;
            height: 70px;
            padding-left: 20px;
            align-items: center;
            min-width: 30%;

            .record-section-btn {
                position: relative;
                color: gray;
                margin-left: 20px;
                width: 25%;
                right: 15%;
            }
        }
    }
}
